@model DatekCCAN.Models.WAN

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceOrder4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceOrder4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TQ4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TQ4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AO4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AO4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglOrderItenos4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglOrderItenos4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KomenItenos4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KomenItenos4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pic4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pic4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaCode4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCode4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metro4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metro4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dat4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dat4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gpon4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gpon4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SN4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SN4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vlan4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vlan4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahSurvei4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahSurvei4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglHasilSurvei4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglHasilSurvei4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaggingPelanggan4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaggingPelanggan4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiSurvei4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiSurvei4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaggingODP4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaggingODP4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahPT14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahPT14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglSelesaiPTmin14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglSelesaiPTmin14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiPTmin14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiPTmin14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahJT4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahJT4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglJTSelesai4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglJTSelesai4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Komen4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Komen4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglClosed4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglClosed4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID4">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
