@model DatekCCAN.Models.WantTSEL

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WantTSEL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceOrder3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceOrder3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TQ3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TQ3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AO3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AO3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglOrderItenos3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglOrderItenos3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KomenItenos3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KomenItenos3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pic3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pic3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaCode3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaCode3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metro3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metro3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dat3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dat3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gpon3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gpon3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SN3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SN3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vlan3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vlan3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahSurvei3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahSurvei3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglHasilSurvei3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglHasilSurvei3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaggingPelanggan3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaggingPelanggan3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiSurvei3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiSurvei3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaggingODP3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaggingODP3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahPT13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahPT13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglSelesaiPTmin13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglSelesaiPTmin13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeknisiPTmin13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeknisiPTmin13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglPerintahJT3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPerintahJT3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglJTSelesai3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglJTSelesai3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Komen3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Komen3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglClosed3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglClosed3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID3">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
