@model IEnumerable<CCAN_Witel_Karawang.Models.DB.TechInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Data Teknis</h2>

<p>
    @Html.ActionLink("Buat Datek Baru", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                @Html.TextBox("id", null, new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                <input class="btn btn-default" type="submit" value="Filter" />
            </div>
        </div>
    </div>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TQ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeNOSScomment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AreaCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Metro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GPON)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VLAN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurveyTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurveyTech)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ODPTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PT1Com)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PT1End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PT1Tech)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JTTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JTEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TQ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeNOSScomment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Metro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GPON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VLAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurveyTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurveyTech)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ODPTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PT1Com)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PT1End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PT1Tech)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JTTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JTEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TechInfoID }) |
                        @Html.ActionLink("Detail", "Details", new { id = item.TechInfoID }) |
                        @Html.ActionLink("Hapus", "Delete", new { id = item.TechInfoID })
                    </td>
                </tr>
            }

        </table>
